

:root {
    background-color: #33030D;
    color: #FDE4E4;

    padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 24px;
}

button {
  background-color: #E90C33;
  color: #F3F3F3;
  border-radius: 60px;
  border: none;
  box-shadow: 0 3px 3px 0 #00000073;

  padding: 5px;
  height: 32px;
  width: 100px;
}